*{
box-sizing:border-box;
}


body{

margin:0;
font-family:Arial;
background:#05051b;
color:white;

}



.login{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

}


form{

background:#111133;
padding:40px;
border-radius:20px;

}


input{

display:block;
padding:15px;
margin:15px;
width:250px;

}


button{

padding:12px 20px;
margin:10px;
border-radius:20px;
background:#5b2cff;
color:white;
border:none;

}



.dashboard{

display:flex;
height:100vh;

}



.sidebar{

width:230px;
background:#090921;
padding:20px;

}


.sidebar p{

padding:15px;

}



.main{

flex:1;
padding:20px;

}


.interview{

height:55%;
display:flex;
background:#11113a;
border-radius:20px;
padding:20px;

}


.interview img{

width:45%;
object-fit:contain;

}



.chat{

padding:30px;

}


.bottom{

display:flex;
gap:20px;

}


.card{

background:#11113a;
padding:20px;
margin-top:20px;
border-radius:20px;
flex:1;

}


span{

background:#4825ff;
padding:5px;
margin:5px;
border-radius:10px;

}